[Unit]
Description=Flask Server
After=network.target

[Service]
User=jack
WorkingDirectory=/var/www/
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
